<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.demo.mapper.TeacherMapper">
    <resultMap id="teacherMap" type="com.mybatis.demo.entity.Teacher">
        <id column="id" property="id"></id>
        <result column="first_name" property="name"></result>
        <result column="subject" property="subject"></result>
    </resultMap>

    <resultMap id="teacherAndDeptResult" type="teacher" autoMapping="true">
        <id column="id" property="id"></id>
        <result column="first_name" property="name"></result>
        <result column="subject" property="subject"></result>
        <result column="b_id" property="dept.id"></result>
        <result column="dept_name" property="dept.deptName"></result>
    </resultMap>

    <resultMap id="teacherAndDeptResult2" type="teacher" autoMapping="true">
        <id column="id" property="id"></id>
        <result column="first_name" property="name"></result>
        <result column="subject" property="subject"></result>
        <association property="dept" javaType="dept">
            <id column="b_id" property="id"></id>
            <result column="dept_name" property="deptName"></result>
        </association>
    </resultMap>

    <select id="allTeacher" resultMap="teacherMap">
      select * from teacher;
    </select>

    <select id="selectTeacherAndDept" resultMap="teacherAndDeptResult2">
      select a.*,b.id b_id,b.dept_name dept_name from teacher a,dept b where a.deptNum=b.id and b.id= #{id};
    </select>

    <resultMap id="teacherAndDeptResultStep" type="teacher">
        <id column="id" property="id"></id>
        <result column="first_name" property="name"></result>
        <result column="subject" property="subject"></result>
        <result column="deptNum" property="deptNum"></result>
        <association  property="dept" select="com.mybatis.demo.mapper.DeptMapper.selectDeptById"
                      column="deptNum" >
        </association>

    </resultMap>

    <select id="selectTeacherAndDeptStep" resultMap="teacherAndDeptResultStep">
        SELECT  * from teacher where id = #{id}
    </select>


    <select id="selectTeacherByDeptNum" resultType="teacher">
        select * from teacher WHERE deptNum=#{deptNum}
    </select>

    <resultMap id="teacherMapDesc" type="teacher">
        <id column="id" property="id"></id>
        <result column="first_name" property="name"></result>
        <result column="subject" property="subject"></result>
        <result column="deptNum" property="deptNum"></result>
        <result column="sex" property="sex" ></result>
        <result column="comment" property="comment"></result>
        <discriminator javaType="int" column="sex" >
            <case value="0" >
                <association property="dept" fetchType="lazy" select="com.mybatis.demo.mapper.DeptMapper.selectDeptById"
                column="{id=deptNum}">

                </association>
            </case>
            <case value="1">
                <result column="sex" property="comment"></result>
            </case>
        </discriminator>

    </resultMap>

    <select id="selectTeacherById" resultMap="teacherMapDesc">
        select * from teacher where id = #{id}
    </select>
</mapper>